# Directorios de compilación
/build/
/out/
*.exe
*.out
*.o
*.obj

# Archivos de IDE
.vs/
.vscode/
*.user
*.suo
CMakeSettings.json
CppProperties.json  # Este está en tu proyecto, no subirlo

# Archivos generados
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.log
compile_commands.json


# Archivos temporales
*.tmp
*.bak
*.swp
*~
